.home{
    height: 100vh;
    display: flex;
    flex-direction: column;

    .wrapper{

        width: 70vw;
        height: 70vh;
        margin: auto auto;
        display: flex;

        .image-container{
            height: 100%;
            flex: 5;
            background-color: rgba(240, 128, 128, 0.219);
            display: flex;
            flex-direction: column;
            align-items: center;
            img{
                height: 70%;
                width: 70%;
                margin-top: 10%;
            }

            form{
                margin-top: 5%;
                width: 50%;
                height: 5%;
                display: flex;
                justify-content: center;

                input{
                    width: 100%;
                    height: 100%;
                    text-align: center;
                    border: none;

                    &:hover{
                        background-color: rgba(128, 128, 128, 0.062);
                    }
                }
            }
        }

        .options-container{
            height: 100%;
            flex: 3;
            background-color: rgba(182, 183, 255, 0.575);

            .options-wrapper{
                height: 100%;
                width: 100%;
                display: flex;


                .titles{
                    flex: 1;
                    margin-top: 10%;
                    background-color: gray;
                    display: flex;
                    flex-direction: column;

                    span{
                        flex: 1;
                        font-size: 24px;
                        text-align: center;
                    }

                }

                .emojis{
                    flex: 3;
                    margin-top: 10%;
                    background-color: lightgray;
                    display: flex;
                    flex-direction: column;

                    .feature-wrapper{
                        border: 1px solid black;
                        flex: 1;
                        display: flex;
                        position: relative;
                        justify-content: center;
                        align-items: center;
                        
                        .left-button{
                            height: 50%;
                            margin-right: 30%;
                            width: 20%;
                        }

                        .right-button{
                            height: 50%;
                            margin-left: 20%;
                            width: 20%;
                        }
                        img{
                            width: 35%;
                            position: absolute;
                            .base{
                                z-index: 999;
                            }
                        }

                    }
                }
               
            }
        }
    }
}