.home{
    height: 100vh;
    display: flex;
    flex-direction: column;

    .wrapper{

        width: 70vw;
        height: 70vh;
        margin: auto auto;
        display: flex;
        box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.3);
        -webkit-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.3);
        -moz-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.3);
        button{
            height: 20px;
        }

        .image-container{
            height: 100%;
            width: 45vw;
            background-color: #0000000a;
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;
            img{
                height: 100%;
                position: absolute;
                align-self: center;
            }

            form{
                width: 50%;
                height: 5%;
                display: flex;
                justify-content: center;
                position: absolute;
                bottom: 50px;

                input{
                    width: 100%;
                    height: 100%;
                    text-align: center;
                    border: none;

                    &:hover{
                        background-color: rgba(128, 128, 128, 0.062);
                    }
                }
            }
        }

        .options-container{
            height: 100%;
            width: 25vw;
            background-color: #00000015;
            display: flex;
            .options-wrapper{
                height: 100%;
                width: 100%;
                display: flex;
                flex-direction: column;


                .emojis{
                    flex: 3;
                    margin-top: 5%;
                    display: flex;
                    flex-direction: column;
                    width: 100%;

                    .emoji{
                        display: flex;
                        flex-direction: column;
                        flex: 1;

                        span{
                            font-size: 24px;
                            text-align: center;
                        }

                        .feature-wrapper{
                            flex: 1;
                            display: flex;
                            position: relative;
                            justify-content: center;
                            align-items: center;
                            
                            button{
                                width: 20%;
                                height: 50%;
                                font-size: 30px;
                                border: none;

                                &:hover{
                                    background-color: #00000013;
                                }
                            }
                            .left-button{
                                margin-right: 30%;
                            }

                            .right-button{
                                margin-left: 20%;
                            }
                            img{
                                height: 100%;
                                position: absolute;
                                .base{
                                    z-index: 999;
                                }
                            }

                        }

                        .feature-wrapper.head{
                            img{
                                display: flex;
                                height: 150%;
                                position: aboslute;
                                margin-top: 125px;

                            }
                        }

                    }
                }
               
            }
        }
    }
}